In [53]:
import pandas as pd

In [54]:
# Read the data from file using read_csv
df_qrels = pd.read_csv('qrels.dev.tsv', sep='\t', header=None)
df_queries = pd.read_csv('queries.dev.tsv', sep='\t', header=None)

Preprocessing of file 'queries_gender_annotated.csv' needed, as separator is ',' and second column contains text which also contains ','. Hence, pandas cannot read the file without problems.
Solution: put "" around the text
download files first and put into subfolder 'code_own\data': 
- curl -O https://github.com/navid-rekabsaz/GenderBias_IR/blob/master/resources/queries_gender_annotated.csv
- curl -O

In [55]:
PATH_ANNOTATED_DATASET = 'queries_gender_annotated.csv'
PATH_TARGET_MODIFIED_ANNOTATED_DATASET = 'queries_gender_annotated_modified.csv'

def transform_annotated_dataset(source, target):

    #preprcess queries_gender_annotated.csv as it cannot be read witout errors (, in text)
    #iterate over all rows of file queries_gender_annotated.csv
    result_query_gender_annontated = []
    with open(source, 'r') as f:
        lines = f.readlines()
        for line in lines:
            #split by comma
            split = line.split(',')
            #remove newline in last element
            split[-1] = split[-1].replace('\n', '')
            #put into 3 columns (if ',' in text)
            if len(split) > 3:
                #combine all but first and last element
                text = ','.join(split[1:-1])
            else:
                text = split[1]

            #combine elements and put text in quotes
            new_line = split[0] + ',"' + text + '",' + split[-1] + '\n'
            #print(new_line)
            result_query_gender_annontated.append(new_line)

    #add headers to file
    result_query_gender_annontated.insert(0, 'qid,query,annotation\n')

    #write to file
    with open(target, 'w') as f:
        f.writelines(result_query_gender_annontated)

transform_annotated_dataset(PATH_ANNOTATED_DATASET, PATH_TARGET_MODIFIED_ANNOTATED_DATASET)

In [56]:
df_gender = pd.read_csv("queries_gender_annotated_modified.csv", header=0, sep=',') 
df_gender

          qid                                              query annotation
0      986563                  who was known as the heretic king          m
1     1048725  who plays the main character in night at the m...          n
2      801288                                  what is surrogate          n
3      338042                      how popular is the name katie          f
4      327827         how much sleep in one day does a baby need          n
...       ...                                                ...        ...
3745  1042506  what is the cortana what is the best thing to ...          n
3746   449545                          meaning of the name Sashi          f
3747  1023790                        who are directed home alone          n
3748   659246     what famous person has a baby named tigerlily?          n
3749   769020                             what is matricide mean          f

[3750 rows x 3 columns]

In [58]:


#check for duplicates in column 0
print("Duplicates in column 0: ", df_qrels.duplicated(subset=0).sum())
df_qrels.duplicated(subset=0).sum()

#check for duplicates in column 2
print("Duplicates in column 2: ", df_qrels.duplicated(subset=2).sum())

KeyError: Int64Index([0], dtype='int64')

In [59]:
#join the two dataframes on the query id
df = pd.merge(df_qrels, df_queries, left_on=0, right_on=0)
df

KeyError: 0

In [ ]:
df2 = pd.merge(df_qrels, df_queries, left_on=2, right_on=0)
df2

,0_x,1_x,2,3,0_y,1_y
0,40287,0,584321,1,584321,what causes a blocked artery
1,155234,0,502713,1,502713,"stars above ltd. manufacturers telescopes, whi..."
2,224485,0,1056949,1,1056949,what is defined in the preamble
3,1088972,0,889803,1,889803,what qualifications are there for a tummy tuck
4,1101048,0,112313,1,112313,crash north of new river road
...,...,...,...,...,...,...
180,188854,0,447553,1,447553,meaning of cursed are you above all livestock
181,63793,0,88098,1,88098,causes of redness in the hands
182,203039,0,1101373,1,1101373,dimensions of square portico white house
183,81738,0,673936,1,673936,what is a b.a
184,1102316,0,1089950,1,1089950,the ________ cartilages of the larynx play the...